/* ASSET FONTS */
/* MINECRAFT */
@font-face {
  font-family: Minecraft;
  src: url('./assets/fonts/MinecraftRegular-Bmg3.otf') format('opentype');
}
@font-face {
  font-family: Minecraft;
  font-style: italic;
  src: url('./assets/fonts/MinecraftItalic-R8Mo.otf') format('opentype');
}
@font-face {
  font-family: Minecraft;
  font-weight: bold;
  src: url('./assets/fonts/MinecraftBold-nMK1.otf') format('opentype');
}
@font-face {
  font-family: Minecraft;
  font-weight: bold;
  font-style: italic;
  src: url('./assets/fonts/MinecraftBoldItalic-1y1e.otf') format('opentype');
}

/* GOOGLE FONTS */
/* SILKSCREEN */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
/* LATO */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* PRESS START 2P */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  caret-color: transparent;
  outline: none;
}

:root {
  font-size: 16px;
  font-family: Minecraft;
  --clr-red: #f33;
  --clr-grn: #3d3;
  --clr-blu: #33f;
  --clr-cyn-1: #0ff;
  --clr-cyn-2: #066;
  --clr-yel-1: #ff0;
  --clr-yel-2: #770;
  --clr-mag-1: #f0f;
  --clr-mag-2: #604;
  --clr-blk: black;
  --clr-wht: #f1f1f1;
  --clr-drk-1: #333;
  --clr-drk-2: #666;
  --clr-drk-act: #bdbddf;
  --clr-lig-1: #ddd;
  --clr-lig-2: #c1c1c1;
  --clr-lig-act: #ddf;
  --shdw-lig-act: #bdbddf;
  --shdw-drk-act: #b3b3d8;
}

/* HOME PAGE */
body {
  width: 100vw;
  height: 100vh;
  background: var(--clr-drk-1);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 92%;
  text-align: center;
}

a {
  color: currentColor;
  text-decoration: none;
}

input {
  font-family: 'silkscreen', monospace; 
  font-size: clamp(.8rem, 4.5vw, 1.6rem); 
  font-weight: 900; 
  text-align: center;
  text-transform: uppercase;
  width: clamp(4em, 40vw, 12em);
  height: 1.8em;
  border: 3px solid var(--shdw-lig-act); 
  border-radius: 8px; 
  background-color: var(--shdw-lig-act);
  cursor: pointer; caret-color: black;
  box-shadow: 0 0 8px 2px rgb(30 30 30 / .1);
  transition: all 120ms ease-in;
}

input:is(:hover, :focus, :focus-within, :active) {
  border: 3px solid var(--shdw-drk-act); 
  background-color: var(--shdw-drk-act);
  box-shadow: 0 0 8px 0px rgb(30 30 30 / .2);
}

button {
  display: inline;
  height: 2.0em;
  font-family: silkscreen, monospace;
  font-size: .8em; 
  font-weight: bold; 
  border: none; 
  border-radius: .5rem;
  background: var(--clr-drk-act);
  box-shadow: .1rem .1rem 0.125rem rgb(0 0 0 / .4);
  padding: .2em .8em;
  cursor: pointer;

  transition: background 80ms ease-in,
              box-shadow 80ms ease-in
  ;
}

button:is(:hover, :focus, :focus-within, :active) {
  background: rgb(170 170 220 / .4);
  box-shadow: .075rem .075rem 0 .05rem rgb(0 0 0 / .4);
}

.title {
  font-family: 'Press Start 2P', monospace;
  font-size: 2.5rem;
  color: var(--clr-drk-2);
  margin-top: 8vh;
  cursor: default;
}

.title > h1:nth-child(2) {
  margin-block: 3.5rem;
}

.title > h1 > span {
  color: var(--clr-lig-2);
}

.title > h1 > span:hover {
  color: var(--hover-clr);
}
  #pick  { --hover-clr: var(--clr-red); }
  #the   { --hover-clr: var(--clr-grn); }
  #color { --hover-clr: var(--clr-blu); }

.home-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-button {
  width: 18rem;
  background: var(--clr-drk-2);
  font-size: 1.4rem;
  border: none; border-radius: 2em;
  box-shadow: 0 0 .3em var(--clr-drk-2);
  padding: 0.7em 2.4em;
  margin: .8rem 0;
  cursor: pointer;

  transition: all 120ms ease-in-out;
}

.home-button:hover,
.home-button:focus {
  width: 27rem;
  font-size: 1.9rem;
  color: var(--fnt-clr, currentColor);
  background: var(--hover-clr);
  box-shadow: 0 0 0.7em -.1em var(--clr-lig-2);
  border-radius: 1em;

  transition: box-shadow 300ms ease-out,
              width 135ms ease-in-out 90ms,
              font-size 180ms ease-out 45ms,
              color 180ms ease-out,
              border-radius 90ms ease-out 150ms,
              background 180ms ease-in
  ;
}
  #pvp  { --hover-clr: var(--clr-cyn-1); }
  #spd  { --hover-clr: var(--clr-mag-1); }
  #adv  { --hover-clr: var(--clr-yel-1); }
  #prac { --hover-clr: var(--clr-blk); --fnt-clr: var(--clr-lig-2); }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: max-content;
  background: var(--clr-drk-2);
  padding: .4rem .8rem;
  z-index: 99;
}

.created-by {
  position: absolute;
  top: 33%;
  width: 100%;
  font-family: Lato;
  font-size: .7rem;
  font-weight: 300;
  font-style: italic;
  color: var(--clr-lig-2);
  text-align: center;
}

.socials {
  float: right;
  display: flex;
  gap: .3rem;
  align-items: center;
}

.socials > * {
  margin-block: auto;
}

.socials img {
  aspect-ratio: 1;
  display: inline-block;
  width: 1.5rem;
  padding: .1rem .1rem 0;
  transition: all 60ms linear
}

.socials img:hover {
  padding: 0;
  transition: all 120ms cubic-bezier(.1,.8,.2,1);
}

/* CONTAINERS */
.game-container {
  position: absolute;
  top: 0; left: 0;
  display: flex;
  justify-content: center; align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
}

.menu-container {
  position: absolute;
  top: 0; left: 0;
  display: flex;
  justify-content: center; align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
}

/* MENUS */
.menu-name {
  display: flex;
  flex-direction: column;
  gap: .9em;
  justify-content: center; align-items: center;
  width: clamp(10rem, 85vw, 45rem); 
  height: 15rem;
  font-family: lato, sans-serif;
  font-size: clamp(.8rem, 6vw, 2.4rem); 
  font-weight: 300;
  text-align: center;
  border: 5px solid var(--clr-drk-2);
  border-radius: 4vh;
  padding: -1em 2rem 0; 
  box-shadow: inset 0 0 .5em .2em var(--shdw-lig-act);
  background: radial-gradient(var(--clr-lig-act) 80%, var(--shdw-lig-act));
}

/* TIMER PAGE */
.game-info-box {
  position: absolute;
  top: 18vh;
  left: clamp(.5rem, calc(60% - 30rem), 12.5rem);
  width: clamp(8rem, calc(20vw + 20rem), 37rem); 
  height: max-content;
  overflow: clip;
  font-family: 'silkscreen', monospace;
  font-size: 1.4em;
  letter-spacing: -.06rem;
  border-radius: 8px;
  padding: 1.5rem;
}

.game-info-box::after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: var(--clr-lig-act);
  opacity: .5;
  z-index: -1;
}

.game-info-box p {
  margin-block: .8rem;
}

.timer {
  position: inherit;
  top: 0.9em; 
  left: clamp(.5rem, calc(60% - 30rem) ,12.5rem);
  font-family: 'press start 2p', monospace;
  font-size: clamp(1em, 8.5vw, 4.5em); 
  letter-spacing: -.2em;
  z-index: 1;
}

.timed-clr {
  position: absolute;
  width: clamp(1rem, 33%, 30rem); 
  height: 100%;
  top: 0; right: 0;
  background: linear-gradient(-80deg, var(--clr-lig-2), var(--clr-lig-1) 60%);
}

.player-guess {
  font-size: clamp(1rem, 4.5vw, 4rem);
  width: 67%;
  padding: 0;
  margin-top: 1rem;
  margin-right: 3%;
}

.round-start-button {
  width: 100%;
  height: initial;
  font-size: 1em;
  font-weight: normal;
  letter-spacing: -.1rem;
  padding-block: .8em;
}

.round-end-button {
  width: 30%;
  height: max-content;
  vertical-align: bottom;
  padding-block: .5em;
  margin: 0;
}

/* .round-start-button:hover,
.round-end-button:hover,
.round-start-button:focus,
.round-end-button:focus{
} */

.timed-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 4vh;
  width: 100%;
}

.timed-button-container > button {
  width: clamp(1px, 48%, 14rem);
  font-size: .8em;
}

.end-display-container {
  position: absolute;
  width: 100vmax; height: 100vh;
  top: 0; left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: rgb(0 0 0 / .5);
  isolation: isolate;
}

.end-display-text {
  font-size: 3.7rem; 
  text-align: center;
  color: black;
  margin-bottom: 15rem;
}

.player-display-container {
  position: absolute;
  left: 22.5%;
  display: flex;
  gap: 12vw;
  justify-content: center;
  align-content: start;
  width: 55%; height: 70%;
  font-family: 'lato', sans-serif;
  font-size: 1.8em; 
  font-weight: 400;
  border: 5px solid var(--clr-drk-2);
  border-radius: 4vh;
  box-shadow: inset 0 0 .5em .2em var(--shdw-lig-act);
  background: radial-gradient(var(--clr-lig-act) 80%, var(--shdw-lig-act));
  z-index: -1;
}
  .player-one-info {
      position: relative;
      top: 13vh;
      display: flex;
      gap: 25px;
      flex-direction: column;
      align-items: center;
  }
  .player-two-info {
      position: relative;
      top: 13vh;
      display: flex;
      gap: 25px;
      flex-direction: column;
      align-items: center;
  }

.leave-text,
.leave-text-speed {
  font-size: 1em;
  color: var(--clr-drk-1);
  text-align: center;
  margin-top: 18rem;
}

.highscore-list {
    font-family: 'press start 2p', monospace;
    font-size: 1.3rem;
    line-height: 30px;

    transform: scale(.95,1.1);
}

.previous-display-container {
  position: absolute;
  right: 0; bottom: 0;
  width: clamp(1rem, 33%, 30rem); 
  height: 20vh;
  display: flex;
}

.previous-color {
  width: 50%; height: 100%;
  background: transparent;
}

.previous-guess {
  width: 50%; height: 100%;
  background: transparent;
}

.previous-guess-text {
  font-family: lato, sans-serif;
  font-size: 1.8em; font-weight: bold;
  padding: .3em .6em;
  text-align: center;
}

/* MOBILE */
@media (max-width: 640px) {
  .title {
    font-size: clamp(1rem, 6.5vw, 2.5rem);
  }
  
  .title > h1:nth-child(2) {
    margin-block: 8.7vw;
  }

  .created-by {
    transform: initial;
  }

  .created-by p {
    font-size: .55rem;
    width: 60%;
    margin-inline: auto;
  }

  .socials {
    font-size: .8rem;
    width: 100%;
  }

  .socials a:last-of-type {
    margin-left: auto;
  }
}