/* SILKSCREEN */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
/* LATO */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* PRESS START 2P */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    margin: 0 auto;
    cursor: default;
    outline: transparent;
    overflow: hidden;
}

*:hover, 
*:focus{
    caret-color: transparent;
    outline: transparent;
}

:root {
    font-size: 16px;
    --clr-red: #f33;
    --clr-grn: #3d3;
    --clr-blu: #33f;
    --clr-cyn-1: #0ff;
    --clr-cyn-2: #066;
    --clr-yel-1: #ff0;
    --clr-yel-2: #770;
    --clr-mag-1: #f0f;
    --clr-mag-2: #604;
    --clr-blk: black;
    --clr-wht: #f1f1f1;
    --clr-drk-1: #333;
    --clr-drk-2: #666;
    --clr-drk-act: #bdbddf;
    --clr-lig-1: #ddd;
    --clr-lig-2: #c1c1c1;
    --clr-lig-act: #ddf;
    --shdw-lig-act: #bdbddf;
}

/* TEST CLASS */
.test {
    position: absolute;
    height: 100px;
    width: 100px;
    background: hotpink;
}

.test-container {
    position: absolute;
    top: 0; left: 0;
    width: 100vw;
    height: 94vh;
    z-index: 10;
    background-color: var(--clr-drk-1);
}

/* HOME PAGE */
body {
    background-color: var(--clr-drk-1);
    margin-top: 40px;
    z-index: 1;
}

main {
    /* z-index: -1; */
}

main h1{
    font-family: Silkscreen, monospace;
    font-size: 6em;
    /* line-height: 0; */
    text-align: center;
    color: var(--clr-drk-2);
}

canvas {
    position: absolute;
    width: 100%; height: 100%;
    background-color: #432;
    box-shadow: inset 0 0 1em rgb(0 0 0 / .1);
}

footer {
    position: relative;
    height: 5.89vh;
    background: var(--clr-drk-2);
    z-index: 99;
}

.title {
    display: flex;
    flex-wrap: wrap; flex-direction: column;
    height: 40vh;
}

.home-button-container {
    margin: 5vh auto;
    display: flex;
    flex-direction: column;         flex-wrap: wrap;
    justify-content: space-evenly;  align-items: center;
    height: 40vh;
}

.home-button {
    cursor: pointer;
    text-align: center;
    background-color: var(--clr-drk-2);
    font-family: Lato, monospace;
    font-size: 1.1rem; font-weight: 400;
    padding: 0.7em 2.4em;
    border: none; border-radius: 2em;
    box-shadow: 0 0 .3em var(--clr-drk-2);

    transition: box-shadow 120ms ease-out,
                padding 120ms ease-in-out,
                font-size 120ms ease-out,
                border-radius 120ms ease-out,
                font-weight 120ms ease-out  
    ;
}

.home-button:hover,
.home-button:focus {
    font-size: 1.9rem; font-weight: 300;
    box-shadow: 0 0 0.7em -.1em var(--clr-lig-2);
    padding: .55em 7em;
    border-radius: 1em;

    transition: box-shadow 400ms ease-out,
                padding 180ms ease-in-out 120ms,
                font-size 240ms ease-out 60ms,
                border-radius 120ms ease-out 200ms,
                font-weight 180ms ease-out
    ;
}

/* .home-button::after:hover {
    filter: blur(12px)
} */

.game-container {
    position: absolute;
    top: 0; left: 0;
    display: flex;
    justify-content: center; align-items: center;
    background: transparent;
    width: 100vw;
    height: 94.3vh;
    z-index: -1;
}

.menu-name {
    font-family: lato, sans-serif;
    font-size: 1.8em; font-weight: 900;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: center; align-items: center;
    text-align: center;
    padding-top: -1em; gap: .9em;
    width: 45vw; height: 20vh;
    border: 5px solid var(--clr-drk-2);
    border-radius: 4vh;
    box-shadow: inset 0 0 .5em .2em var(--shdw-lig-act);
    background: radial-gradient(var(--clr-lig-act) 80%, var(--shdw-lig-act));
}

.menu-name input {
    /* background-color: white; */
    font-family: Silkscreen, monospace; 
    font-weight: 700; font-size: 1.3rem;
    text-align: center;
    height: 2em;
    width: 12em;
    border: 3px solid var(--shdw-lig-act); border-radius: 8px; 
    background-color: var(--shdw-lig-act);
    cursor: pointer; caret-color: black;
    box-shadow: 0 0 8px 2px rgb(30 30 30 / .1)
    
}

.timed-clr {
    background: linear-gradient(-80deg, var(--clr-lig-2), var(--clr-lig-1) 60%);
    position: absolute;
    width: 27vw; height: 94.3vh;
    right: 0;
    /* border-radius: 1em 0 0 1em; */
}

.game-info-box {
    font-family: 'silkscreen', monospace;
    font-size: 1.4em; letter-spacing: -.14rem;
    display: block;
    flex-direction: row; flex-wrap: nowrap;
    width: 40vw; height: 25vh;
    margin-top: -20vw; margin-left: 10vw;
    padding: 1.5rem;
    border-radius: 8px;
    background: rgb(170 170 220 / .2)
}

.player-info {
    display: inline;
}

.round-info {

}

.round-prompt {

}

.timer {
    position: inherit;
    font-family: 'press start 2p', monospace;
    font-size: 4.5em; letter-spacing: -.2em;
    top: 0.9em; left: 12.5vw;
    z-index: 11;
}

.player-guess {
    caret-color: black;
}

.round-start-button,
.round-end-button {

}

.round-start-button {
    /* float: right; */
    border: none; border-radius: 1em;
    margin-left: 5%; padding: .5em 2.5em;
}

.round-end-button {
    border: none; border-radius: 1em;
    margin-left: 5%; padding: .5em 2.5em;
}

.end-display-container {
    /* z-index: 20; */
    position: absolute;
    width: 100vmax; height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; align-content: center;
    background: rgb(0 0 0 / .5)
}

.end-display-text {
    position: relative;
    top: 10vh;
    font-family: lato, sans-serif;
    font-size: 3.3rem; font-weight: 900;
    color: black;
}

.player-display-container {
    font-family: lato, sans-serif;
    font-size: 1.8em; font-weight: 400;
    /* position: absolute; */
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    padding-top: -1em;
    width: 55%; height: 70%;
    border: 5px solid var(--clr-drk-2);
    border-radius: 4vh;
    box-shadow: inset 0 0 .5em .2em var(--shdw-lig-act);
    background: radial-gradient(var(--clr-lig-act) 80%, var(--shdw-lig-act));
}

.player-one-info {
    /* display: inline; */
    position: relative;
    top: 13vh;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.player-two-info {
    position: relative;
    top: 13vh;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.highscore-list {
    font-family: 'press start 2p', monospace;
    font-size: 1.3rem;
    line-height: 30px;

    transform: scale(.95,1.1);
}

.adventure-container {
    position: absolute;
    top: 22vh;
    width: 90%; height: 70%;
    box-shadow: 0 0 2em -1.5em rgb(0 0 0 / .3);
}

.adventure-info-container {
    position: absolute;
    top: -20vh;
    display: flex;
    flex-direction: column-reverse; flex-wrap: wrap;
    align-items: space-evenly;
    object-fit: cover;
    overflow: hidden;
    gap: 1%;
    width: 100%; height: 28%;
    box-shadow: 0 0 2em -1.5em rgb(0 0 0 / .3);
}


.adventure-button-container {
    /* position: relative; */
    display: flex;
    flex-direction: row; flex-wrap: wrap;
    align-content: end;
    gap: 1.23em;
    top: -8vh;
    width: 25%;
    
}

.adventure-tutorial {
    position: relative;
    /* top: -20vh; */
    width: 70%;
    font-family: silkscreen, monospace;
    font-size: 1.3em; font-weight: bold; letter-spacing: -.08em;
    line-height: 1.4em;
    background: rgb(170 170 220 / .2);
    border-radius: 0 0.8em 0.8em 0;
    padding: 5px 1em;
}

.adventure-start-button {
    width: 100%; height: 100%;
    font-family: silkscreen, monospace;
    font-size: 1.4em; font-weight: bold;
    border: none; border-radius: .5rem;
    background: rgb(170 170 220 / .6);
    box-shadow:0 0 .8em rgb(0 0 0 / .3);

    transition: background 200ms ease-in;
}

.adventure-start-button:hover {
    background: rgb(170 170 220 / .8);
    box-shadow:0 0 .8em rgb(0 0 0 / .4);
    cursor: pointer;
}

.adventure-start-clicked {
    width: 100%; height: 100%;
    font-family: silkscreen, monospace;
    font-size: 1.4em; font-weight: bold;
    border: none; border-radius: .5rem;
    background: rgb(30 30 40 / .5);
    box-shadow: inset 0 0 .8em rgb(0 0 0 / .3);
}

.round-display {
    display: flex;
    justify-content: center; align-items: center;
    font-family: 'silkscreen', monospace;
    font-size: 1.8em;
    color: white;
    margin-top: 100px;
    z-index: 15;
    user-select: none;
}

.end-adventure-container {
    /* z-index: 20; */
    position: absolute;
    width: 100vmax; height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; align-items: center;
    background: rgb(0 0 0 / .5)
}

.end-adventure-text {
    position: relative;
    top: 10vh;
    font-family: lato, sans-serif;
    font-size: 3.3rem; font-weight: 900;
    color: black;
}

.player-adventure-container {
    font-family: lato, sans-serif;
    font-size: 1.8em; font-weight: 400;
    /* position: absolute; */
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    padding-top: -1em;
    width: 35%; height: 40%;
    border: 5px solid var(--clr-drk-2);
    border-radius: 4vh;
    box-shadow: inset 0 0 .5em .2em var(--shdw-lig-act);
    background: radial-gradient(var(--clr-lig-act) 80%, var(--shdw-lig-act));
}

.lives-display {
    position: relative;
    font-family: 'silkscreen', monospace;
    font-size: 2rem;
    color: white;
    padding: .8rem 1.2em;
    user-select: none;
}

.return-button {
    display: inline-block;
    width: 40%; height: 2.0em;
    font-family: silkscreen, monospace;
    font-size: 1.2em;
    border: none; border-radius: .5rem;
    background: rgb(170 170 220 / .4);
    box-shadow:0 0 .8em rgb(0 0 0 / .2);
    cursor: pointer;
}

.return-button:hover {
    background: rgb(170 170 220 / .55);
    box-shadow:0 0 .8em rgb(0 0 0 / .3)
}

#title-pick,
#title-the,
#title-color {
    color: var(--clr-lig-2);
}

#title-pick:hover {
    color: var(--clr-red);
}

#title-the:hover {
    color: var(--clr-grn);
}

#title-color:hover {
    color: var(--clr-blu);
}

#pvp:hover,
#pvp:focus {
    background-color: var(--clr-cyn-1);
    color: var(--clr-cyn-2)

}

#spd:hover,
#spd:focus {
    background-color: var(--clr-yel-1);
    color: var(--clr-yel-2)
}

#adv:hover,
#adv:focus {
    background-color: var(--clr-mag-1);
    color: var(--clr-mag-2)
}

#prac:hover,
#prac:focus {
    background-color: var(--clr-blk);
    color: var(--clr-lig-1)
}
